/* Derived from the RIT branding guide
 * https://www.rit.edu/brandportal/sites/rit.edu.brandportal/files/documents/RIT001_WebStyleGuide-05-31-2019-lr.pdf
 **/

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
	display: grid;
	min-height: 100vh;
	grid-template-rows: 0fr 0fr auto 0fr;
}

nav {
	background-color: black;
	height: 60px;
	display: flex;
	gap: 18px;
	padding-left: 30px;
	box-shadow: grey 0 0 5px;
}

nav > * {
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

nav > a, #contrast-button {
	color: white;
}

nav a:not(:last-child):hover {
	color: #C75300;
}

nav a:not(:last-child):active {
	color: #727578;
}

nav a.selected {
	border-bottom: 4px solid white;
}

nav a.selected {
	border-top: 4px solid black;
}

nav div.nav-spacer {
	flex-grow: 1;
}

nav a:last-child {
	background-color: var(--button-color);
	color: var(--button-text-color);
	padding: 0 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	letter-spacing: -0.2px;
}

h1 {
	font-size: 4rem;
	line-height: 4.25rem;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 2rem;
	line-height: 2.25rem;
}

h4 {
	font-size: 1.75rem;
	line-height: 2rem;
}

h5 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

h6 {
	font-size: 1.25rem;
	line-height: 1.5rem;
}

p {
	line-height: 1.75rem;
}

p.small {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 300;
}

p.x-small {
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: #727578;
}

main {
	margin: 20px 20px;
	padding-bottom: 60px;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

/* Forms */
input, select, textarea {
	border: 1px solid #ccc;
	width: 100%;
	padding-left: 10px;
}
input {
	height: 38px;
}
textarea {
	height: 132px;
	resize: none;
}
select {
	height: 42px;
	background-color: #f3f3f3;
}
button.big {
	border: none;
	min-width: 170px;
	min-height: 49px;
	background-color: var(--button-color);
	color: var(--button-text-color);
	font-weight: 700;
	font-size: 1.15rem;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-rows: 1fr;
}
button {
	cursor: pointer;
}

.icon-button {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	font-size: 0.8rem;
	font-family: Cantarell;
}
.icon-button > :not(:first-child) {
	margin-left: 5px;
}
.error-field {
	border-color: #f94646;
}

.input-add {
	display: grid;
	grid-template-columns: 1fr 12px 42px;
	align-content: center;
}
.input-add button {
	height: 42px;
	width: 42px;
	min-height: initial;
	min-width: initial;
	background-color: var(--button-color);
	color: var(--button-text-color);
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: 1.5rem;
}
.input-add-dropdown {
	grid-template-columns: 1fr 2fr 13px 42px;
}
.input-add input {
	z-index: 999; /* Make the border appear above other elements */
}

.form-error {
	color: #f94646;
	display: grid;
	align-items: center;
	grid-template-columns: 0fr 1fr;
	grid-gap: 6px;
	margin-top: 10px;
}

/* Popup & Overlay Styling */
.popup:not(:target) {
	visibility: hidden;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 30%);
	display: grid;
	justify-content: center;
	align-content: start;
	overflow-y: scroll;
	z-index: 500;
}
.popup > div:first-child {
	position: relative;
	background-color: white;
	max-width: 800px;
	padding: 30px;
	margin: 80px;
}
.popup > div:first-child > a:first-child {
	color: #777;
	position: absolute;
	top: 18px;
	right: 18px;
}
.popup > .popup-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: default;
	z-index: -1;
}
.popup > :last-child {
	height: 1px;
}
@media (max-width: 576px) {
	.popup {
		background-color: white;
	}
	.popup > div:first-child {
		margin: 10px;
	}
}

/* Misc local styling */
#contrast-toggle > label {
	display: none;
}
#contrast-toggle:hover > label {
	display: initial;
}

/* Footer */
footer {
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	padding: 50px 10%;
}
#rit-logo-white {
	--text-color: white;
	--logo-color: white;
}
footer p {
	line-height: 1.25rem;
	font-size: 0.8rem;
	font-weight: 400px;
	color: #ced4da;
}
#socials {
	display: flex;
	gap: 5px;
}
#socials a {
	color: black;
	background-color: white;
	border-radius: 100px;
	width: 42px;
	height: 42px;
	position: relative;
	display: grid;
	justify-items: center;
	align-items: center;
	display: grid;
}
#socials a:hover, footer button.big:hover {
	background-color: var(--button-color);
	color: var(--button-text-color);
}
footer button.big {
	background-color: white;
	color: black;
	width: 105px;
}

svg {
	vertical-align: bottom;
}

@media (max-width: 1312px) and (min-width: 690px) {
	footer {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	footer > :nth-child(2) {
		grid-area: 2/1/3/2;
	}
}

@media (max-width: 690px) {
	footer {
		grid-template-columns: 1fr;
		gap: 30px;
	}
	#rit-logo-white {
		max-width: 80%;
	}
}
