#projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 60px;
}
@media (max-width: 734px) { #projects {
	grid-template-columns: 1fr;
}}

.project {
	padding: 30px;
	background-color: #e9ecef;
	border-radius: 5px;
	display: grid;
	grid-template-rows: 0fr 0fr 1fr 0fr;
}

.sources {
	background-color: white;
	border-radius: 5px;
	box-shadow: #ccc 2px 2px 9px;
	padding: 25px 33px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 28px;
}
.sources h6 {
	margin: 0;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 1.2rem;
}
.sources > div > div {
	margin-bottom: 5px;
	color: var(--link-color);
	font-size: 0.9rem;
}

.sources.empty {
	align-content: center;
	text-align: center;
	font-size: 2em;
	color: var(--empty-text-on-white);
}

.okay-but-not-that-big {
	margin-bottom: 8px;
	margin-top: 40px;
	font-size: 1rem;
}

.project > h6 {
	margin: 0;
}
.project > h6 a {
	color: var(--accent-text-color);
	text-decoration: none;
}
.delete * {
	color: var(--delete-color);
}
.project .edit {
	color: #3b3b3b;
}
.actions {
	display: grid;
	grid-template-columns: 1fr 0fr;
	justify-items: end;
	grid-gap: 10px;
	margin-top: 20px;
}

@media (max-width: 490px) {
	header h2 {
		margin-bottom: 0;
	}
	header {
		grid-template-columns: 1fr;
	}
}

.grey-box {
	background-color: #E9ECEF;
	padding: 19px 16px;
	border-radius: 4px;
}
.edit-data-sources {
	display: grid;
	grid-template-columns: 1fr 1fr 0fr;
	margin-bottom: 16px;
	grid-gap: 4px;
	align-items: center;
}
.edit-data-sources .spacer {
	grid-column-end: span 3;
	height: 12px;
}
.edit-data-sources .spacer:last-of-type {
	display: none;
}
.edit-data-sources.empty {
	grid-template-columns: 1fr;
	text-align: center;
	color: var(--empty-grey-box-text);
	font-size: 1.3rem;
}

.edit-owners {
	display: flex;
	gap: 5px;
	flex-wrap:wrap;
	margin-bottom: 5px;
}
.edit-owners > .grey-box {
	display: grid;
	grid-template-columns: 1fr 0fr;
	justify-content: start;
	padding: 10px 19px;
	grid-gap: 5px;
}
