<!DOCTYPE html>

{% import "utils.html" as utils %}

<html lang="en">
	<head>
		{% block head %}
		<style>
			:root {
				{% if high_contrast() %}
					--button-color:      #F76902;
					--button-text-color: black;
					--accent-text-color: black;
					--delete-color:      #911;
					--link-color:        #01526C;
				{% else %}
					--button-color:      #F76902;
					--button-text-color: white;
					--accent-text-color: #F76902;
					--delete-color:      #f94646;
					--link-color:        #179FCA;
				{% endif %}
			}
		</style>
		<link rel=stylesheet href={{static_versioned("styles.css")}}/>
		<title>{% block title %}{% endblock %} - Mystic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="/"			   {% if selected is sameas "home" %}	 class='selected'{% endif %}>HOME</a>
			<a href="/stats/"	   {% if selected is sameas "stats" %}	 class='selected'{% endif %}>STATS</a>
			<div class="nav-spacer"></div>
			<form method=POST id="contrast-toggle">
				{% if high_contrast() %}
					{% set toggle_state = 'Disable' %}
					{% set toggle_icon = 'contrast-2-fill' %}
				{% else %}
					{% set toggle_state = 'Enable' %}
					{% set toggle_icon = 'contrast-2-line' %}
				{% endif %}
				<input type=hidden name=action value=set_high_contrast />
				<input type=hidden name=enabled value={{ not high_contrast() }} />
				<input type=hidden name=id value=NA />
				<label for="contrast-button">{{toggle_state}} High Contrast Mode</label>
				<button class=icon-button id="contrast-button">
					{{ utils.show_icon(toggle_icon, toggle_state + ' high contrast mode') }}
				</button>
			</form>
			<a href="{{login[1]}}" {% if selected is sameas "login" %}	 class='selected'{% endif %}>{{login[0]}}</a>
		</nav>
		<!-- TODO: Display generic notifications -->
		<main>
			{% block main %}{% endblock %}
		</main>
		<div id="base-spacer"></div>
		<footer>
			{{ utils.show_rit_logo("rit-logo-white") }}
			<p>
				 One Lomb Memorial Drive<br/>
				 Rochester, NY 14623<br/>
				 585-475-2411
			</p>
			<div id="socials">
				{% set socials = [
					("Facebook",  "http://www.facebook.com/RITfb"),
					("Twitter",   "http://twitter.com/RITtigers"),
					("LinkedIn",  "https://www.linkedin.com/company/rochester-institute-of-technology"),
					("YouTube",   "http://www.youtube.com/user/RITUniversityNews"),
					("Instagram", "http://instagram.com/RITTigers"),
				] %}
				{% for (social_name, link) in socials %}
					<a href="{{social_name}}">
						{{ utils.show_icon(
							social_name|lower + "-fill",
							"RIT's " + social_name,
							24
						) }}
					</a>
				{% endfor %}
			</div>
			<button class="big">Contact</button>
		</footer>
	</body>
</html>
