{% extends "base.html" %}
{% import "utils.html" as utils %}
{% block title %} {{project.get_display_name(cursor)}} {% endblock %}
{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js" integrity="sha256-GMN9UIJeUeOsn/Uq4xDheGItEeSpI5Hcfp/63GclDZk=" crossorigin="anonymous"></script>
<style>
	#dashbards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}
	#dashbards > div {
		border: 1px solid #ddd;
		border-radius: 8px;
		box-shadow: 3px 3px 8px lightgrey;
	}
	#dashbards h3 {
		text-align: center;
		margin-bottom: 10px;
	}
	#dashbards .tallboard {
		grid-row-end: span 2;
	}
	@media (max-width: 800px) {
		#dashbards {
			grid-template-columns: 1fr;
		}
	}

	main {
		max-width: 1000px;
		justify-self: center;
		padding: 0 40px;
	}
	header {
		margin-top: 100px;
	}

	#owners {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
	.owner {
		display: grid;
		grid-template-columns: 80px 1fr;
	}
	.owner img {
		grid-area: 1/1/3/2;
	}
	.owner b {
		font-size: 1.5em;
	}
	.owner a {
		align-self: end;
	}
	@media (min-width: 950px) {
		.owner:nth-child(3n) {
			justify-self: right;
		}
		.owner:nth-child(3n+2) {
			justify-self: center;
		}
	}
	@media (max-width: 950px) and (min-width: 666px) {
		#owners {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
		.owner:nth-child(2n) {
			justify-self: right;
		}
	}
	@media (max-width: 666px) {
		#owners {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	main h3 {
		font-weight: normal;
		font-size: 1.5em;
	}
	section {
		margin-bottom: 50px;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	ul li {
		margin-bottom: 10px;
	}
</style>
	{{super()}}
{% endblock %}
{% block main %}
	<header>
		<h2> {{project.get_display_name(cursor)}} </h2>
	</header>
	<section>
		<h3> Project by </h3>
		<div id=owners>
			{% for owner in project.get_owners(cursor) %}
				{% set email = owner.get_email(cursor) %}
				<div class=owner>
					<img
						src="{{owner.get_avatar(cursor)}}"
						alt="{{owner.get_first_name(cursor)}}'s Avatar"
						width = 50
						height = 50 />
					<b>{{owner.get_first_name(cursor)}} {{owner.get_last_name(cursor)}}</b>
					<a href="mailto:{{email}}">{{email}}</a>
				</div>
			{% endfor %}
		</div>
	</section>
	<section>
		<p> {{project.get_description(cursor)}} </p>
	</section>
	<section>
		<h3> Links </h3>
		<ul>
			{% for source in project.get_data_sources(cursor) %}
				<li>
					{{ utils.show_icon(
						"source-" + source.source_type,
						source.source_type + " link",
						size=18
					) }}
					<a href="{{source.url}}">{{source.get_simplified_form()}}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section id=dashbards>
		{% for dashboard in dashboards %}
			<div {% if dashboard.is_tall() %}class="tallboard"{% endif %}>
				<h3>{{dashboard.title()}}</h3>
				<canvas id="{{dashboard.title()|lower|replace(' ', '-')|safe}}"></canvas>
			</div>
		{% endfor %}
	</section>
	<script>
		{% for dashboard in dashboards %}
			new Chart(
				document.getElementById("{{dashboard.title()|lower|replace(' ', '-')|safe}}"),
				{{json.dumps(dashboard.render())|safe}}
			);
		{% endfor %}
	</script>
{% endblock %}
