{% extends "base.html" %}
{% import "utils.html" as utils %}
{% import "projects-common.html" as project_utils %}
{% set selected = "home" %}
{% set projects = user.get_projects(cursor) %}
{% block title %} Projects {% endblock %}
{% block head %}
	{{super()}}
	<link rel=stylesheet href={{static_versioned('styles-projects.css')}} />
	<style>
:root {
	{% if high_contrast() %}
		--empty-grey-box-text: #4e4e4e;
		--empty-text-on-white: #595959;
	{% else %}
		--empty-grey-box-text: #666;
		--empty-text-on-white: #ccc;
		--delete-color:        #f94646;
	{% endif %}
}
main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
}
header {
	grid-area: 1/1/2/3;
	display: grid;
	grid-template-columns: 0fr 1fr;
	white-space: nowrap;
	align-items: center;
	grid-gap: 20px;
	margin: 20px 0;
}
	</style>
{% endblock %}
{% block main %}
	<header>
		<h2>My Projects</h2>
		<a href=#new-project><button class=big> + Add </button></a>
	</header>
	<div id=projects>
		{% for project in projects %}
			{% set id = project.alphaid %}
			<div class=project>
				<h6>
					<a href="/{{id}}"> {{project.get_display_name(cursor)}}</a>
				</h6>
				<p class="small">
					{{project.get_description(cursor)}}
				</p>
				{% set sources_empty = project.get_data_sources(cursor)|length == 0 %}
				<div class="sources{% if sources_empty %} empty{% endif %}">
					{% for (type, urls) in project.get_folded_data_sources(cursor).items() %}
						<div>
							<h6>{{type.display_name()}}</h6>
							{% for source in urls %}
								<div> {{source.url}} </div>
							{% endfor %}
						</div>
					{% endfor %}
					{% if sources_empty %}
						no data sources yet
					{% endif %}
				</div>
				<div class=actions>
					<form class=delete method="POST">
						<input type="hidden" name="action" value="delete_project"/>
						<input type="hidden" name="id" value="{{id}}"/>
						<button class="icon-button">
							{{ utils.show_icon("trash-2", "delete project", 18) }}
							<span>Delete</span>
						</button>
					</form>
					<a class="edit icon-button" role="button" href=#edit-{{id}}>
						{{ utils.show_icon("settings", "edit project", 18) }}
						<span>Edit</span>
					</a>
				</div>
				{% call utils.popup("edit-" + id) %}
					{{ project_utils.editform(cursor, "Edit Project", project) }}
				{% endcall %}
			</div>
		{% endfor %}
	</div>
	{% call utils.popup("new-project") %}
		{{ project_utils.editform(cursor, "New Project", user.get_draft_project(cursor)) }}
	{% endcall %}
{% endblock %}
