{% import "utils.html" as utils %}
{% macro editform(cursor, header, model_project) %}
	{% set id = model_project.alphaid %}
	{% set data_sources = model_project.get_folded_data_sources(cursor) %}
	{% set owners = model_project.get_owners(cursor) %}
	{% set form_name = "submit-form-" + id %}

	{#
		A hack to allow extracting information from a loop
		See https://jinja.palletsprojects.com/en/3.0.x/templates/#assignments
	#}
	{% set ns = namespace(
		name = model_project.get_display_name(cursor),
		desc = model_project.get_description(cursor)
	) %}

	{# Look for overrides set by a previous call #}
	{% for category, message in get_flashed_messages(with_categories=true) %}
		{% if category == "data-" + id + "-desc" %}
			{% set ns.desc = message %}
		{% elif category == "data-" + id + "-name" %}
			{% set ns.name = message %}
		{% endif %}
	{% endfor %}

	{% set name = ns.name %}
	{% set desc = ns.desc %}

	<h2>{{header}}</h2>
	<form id={{form_name}} method="POST">
		<input type=hidden name=action value=edit />
		<input type=hidden name=id value="{{id}}" />
		<label for="{{id}}-name"><h6 class="okay-but-not-that-big">Project Name</h6></label>
		<input
			name=name
			value="{{name}}"
			placeholder="My Super Cool Project"
			id="{{id}}-name"
			{{ utils.highlight_if_error(id, "project-name") }}/>
		{{ utils.show_field_error(id, "project-name") }}
		<label for="{{id}}-description"><h6 class="okay-but-not-that-big">Description</h6></label>
		<textarea
			name=desc
			value="{{desc}}"
			placeholder="A detailed description to tell us all about your cool project"
			id="{{id}}-description"
			{{ utils.highlight_if_error(id, "description") }}>{{desc}}</textarea>
		{{ utils.show_field_error(id, "description") }}
	</form>
	<h6 class="okay-but-not-that-big">Data Sources</h6>
	{% set sources_empty = data_sources|length == 0 %}
	<div class="edit-data-sources grey-box{% if sources_empty %} empty{% endif %}">
		{% for (source_type, sources) in data_sources.items() %}
			<span style="grid-row-end: span {{sources|length}}">{{source_type.display_name()}}</span>
			{% for source in sources %}
				<a href="{{source.url}}">{{source.url}}</a>
				<form class=delete method="POST">
					<input type="hidden" name="action" value="delete_source"/>
					<input type="hidden" name="source_id" value="{{source.origin_id}}"/>
					<input type="hidden" name="id" value="{{id}}"/>
					<button class="icon-button">
						{{ utils.show_icon("trash-2", "delete source", 16) }}
					</button>
				</form>
			{% endfor %}
			<span class=spacer></span>
		{% endfor %}
		{% if sources_empty %}
			no data sources yet
		{% endif %}
	</div>
	{{ utils.input_add_dropdown(
		valid_sources,
		"source_type",
		"data source type",
		"source_url",
		"data source url",
		placeholder = "https://example.com",
		form = form_name,
		additional_attributes = utils.highlight_if_error(id, "add_source"),
	) }}
	{{ utils.show_field_error(id, "add_source") }}
	<h6 class="okay-but-not-that-big">Owners</h6>
	<div class="edit-owners">
		{% for user in owners %}
			<span class="grey-box">
				<span>{{ user.get_first_name(cursor) }}</span>
				<form method="POST" class=delete>
					<input type="hidden" name="action" value="remove_owner"/>
					<input type="hidden" name="user" value="{{ user.alphaid }}"/>
					<input type="hidden" name="id" value="{{id}}"/>
					<button class="icon-button" style="padding: 0">
						{{ utils.show_icon("trash-2", "remove owner", 16) }}
					</button>
				</form>
			</span>
		{% endfor %}
	</div>
	{{ utils.input_add(
		"new_owner",
		"new owner username",
		"usr0000",
		form = form_name,
		additional_attributes = utils.highlight_if_error(id, "add_owner"),
	) }}
	{{ utils.show_field_error(id, "add_owner") }}
	<button style="margin-top: 40px;" class=big form={{form_name}} > Save </button>
	{{ utils.show_field_error(id, "generic") }}
{%- endmacro %}
