{% macro popup(name) %}
	<div id="{{name}}" class=popup>
		<div>
			<a href=#>
				{{ show_icon("x", "close popup") }}
			</a>
			{{ caller() }}
		</div>
		<a class=popup-background href=# aria-label="close-popup"></a>
		<span></span> <!-- Fix for a weird bug where bottom margin is hidden -->
	</div>
{%- endmacro %}

{% macro input_add(
	value_name,
	value_name_human_readable,
	placeholder="",
	additional_attributes="",
	form="",
	_prefix=""
) %}
<div class="input-add {% if _prefix %} input-add-dropdown {% endif %}" method="POST">
		{{_prefix}}
		<input
			name="{{value_name}}"
			placeholder="{{placeholder}}"
			aria-label="{{value_name_human_readable}}"
			form="{{form}}"
			{{additional_attributes}} />
		<div></div> <!-- Spacer, to account for input margin -->
		<button class=big form="{{form}}">+</button>
	</div>
{%- endmacro %}

{% macro input_add_dropdown(
	options,
	dropdown_name,
	dropdown_name_human_readable,
	input_name,
	input_name_human_readable,
	placeholder="",
	additional_attributes="",
	form=""
) %}
	{% set dropdown %}
		<select
			name={{dropdown_name}}
			aria-label="{{dropdown_name_human_readable}}"
			form="{{form}}">
			{% for (display, value) in options %}
				<option value={{value}}>{{display}}</option>
			{% endfor %}
		</select>
	{% endset %}
	{{ input_add(
		input_name,
		input_name_human_readable,
		placeholder,
		additional_attributes,
		form,
		_prefix=dropdown
	) }}
{%- endmacro %}

{% macro show_icon(name, alt, size=24) %}
	{% set label_id = uuid() %}
	<svg
		height="{{size}}"
		width="{{size}}"
		viewBox="0 0 24 24"
		aria-labelledby="{{label_id}}">

		<title id="{{label_id}}">{{alt}}</title>
		<use xlink:href={{static_versioned("icon/" + name + ".svg") + '#' + name}} />
	</svg>
{%- endmacro %}

{% macro check_for_error(project_id, component) %}
	{% for category, message in get_flashed_messages(with_categories=true) %}
		{% if category == "error-" + project_id + "-" + component %}
			{{ caller(message) }}
		{% endif %}
	{% endfor %}
{%- endmacro %}

{% macro show_field_error(project_id, component) %}
	{% call(message) check_for_error(project_id, component) %}
		<span class="form-error">
			{{ show_icon("alert-triangle", "error submitting form:", 18) }}
			{{ message }}
		</span>
	{% endcall %}
{%- endmacro %}

{% macro highlight_if_error(project_id, component) %}
	{% call(message) check_for_error(project_id, component) %}
		class="error-field"
	{% endcall %}
{%- endmacro %}

{% macro show_rit_logo(logo_id, short=False) %}
	{% if short %}
		{% set element_id="rit-short-text" %}
		{% set height=49.000 %}
		{% set width=128.680 %}
	{% else %}
		{% set element_id="rit-logo-full" %}
		{% set height=52.675 %}
		{% set width=379.820 %}
	{% endif %}
	<svg aria-labelled-by="rit-header-title" height={{height}} width={{width}} id="{{logo_id}}">
		<title id="rit-header-title">Rochester Institute of Technology</title>
		<use xlink:href={{static_versioned("rit.svg") + '#' + element_id}} />
	</svg>
{%- endmacro %}
